<mat-expansion-panel *ngIf="search$ | async; let search" expanded>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ search.cities | cityNames: search.type }}
    </mat-panel-title>
    <mat-panel-description>
      {{ search.districts.length | i18nPlural: { '=1': 'Ein Stadt- Landkreis', other: '# Stadt- Landkreise' } }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="table-wrapper">
    <app-district-table [districts]="search.districts"></app-district-table>
  </div>
</mat-expansion-panel>
