<ol>
  <li>Deutschen Stadtnamen eingeben</li>
  <li>Vorschläge mit <span class="mat-body-strong">ENTER</span> bestätigen</li>
</ol>
<app-city-input (citySelected)="onCitySelect($event)"></app-city-input>
<div class="mt-1">
  <mat-chip-list class="mt-1">
    <mat-chip [selectable]="false" (removed)="onCityRemove(city)" removable *ngFor="let city of cities">
      {{ city.name }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>
<div class="buttons-wrapper mt-1">
  <button [disabled]="!cities.length" (click)="onSubmit()" color="primary" mat-raised-button>Suche starten</button>
  <mat-progress-bar *ngIf="showProgressBar$ | async" mode="buffer"></mat-progress-bar>
</div>
