@import 'src/styles/utils';

ol {
  padding-left: 1rem;
}

.buttons-wrapper {
  display: grid;
  justify-content: end;
}

.checkboxes-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
