@import 'src/styles/utils';

ol {
  padding-left: 1rem;
}

mat-progress-bar {
  margin-top: 5px;
}

mat-chip {
  font-size: 13px;
}

.buttons-wrapper {
  display: grid;
  justify-content: end;
}

.checkboxes-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
