<table [dataSource]="_districts" mat-table multiTemplateDataRows>
  <ng-container matColumnDef="name">
    <th style="width: 50%" mat-header-cell *matHeaderCellDef>
      Name
      <mat-icon class="info-icon" matTooltip="KfS = Kreisfreihe Stadt, LK = Landkreis, K = Kreis" matTooltipPosition="above">info</mat-icon>
    </th>
    <td style="width: 50%" mat-cell *matCellDef="let district">
      {{ district.name }}<span class="district-type">{{ district.type }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="stateName">
    <th style="width: 20%" mat-header-cell *matHeaderCellDef>Bundesland</th>
    <td style="width: 20%" mat-cell *matCellDef="let district">{{ district.stateName }}</td>
  </ng-container>

  <ng-container matColumnDef="relativeOffencesCount">
    <th style="width: 25%" mat-header-cell *matHeaderCellDef>
      Straftaten rel.
      <mat-icon class="info-icon" matTooltip="Straftaten pro 100T Einwohner (2019)" matTooltipPosition="above">info</mat-icon>
    </th>
    <td style="width: 25%" mat-cell *matCellDef="let district">{{ district.relativeOffencesCount }}</td>
  </ng-container>

  <ng-container matColumnDef="expandedDistrict">
    <td *matCellDef="let district" [attr.colspan]="displayedColumns.length" mat-cell>
      <div class="district-detail" [@detailExpand]="district == expandedDistrict ? 'expanded' : 'collapsed'">
        <app-district-details style="width: 100%" [district]="district"></app-district-details>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let district; columns: displayedColumns"
    class="district-row"
    [class.expanded-row]="expandedDistrict === district"
    (click)="expandedDistrict = expandedDistrict === district ? null : district"
  ></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDistrict']" class="detail-row"></tr>
</table>
