table {
  width: 100%;
}

th,
td {
  font-size: 0.8rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.district-type {
  color: #676767;
  margin-left: 5px;
  font-size: 0.7rem;
  font-style: italic;
}

.info-icon {
  font-size: 15px;
}

tr.detail-row {
  height: 0;
}

tr.district-row:not(.expanded-row):hover {
  background: whitesmoke;
  cursor: pointer;
}

tr.district-row:not(.expanded-row):active {
  background: #efefef;
}

.district-row td {
  border-bottom-width: 0;
}

.district-detail {
  overflow: hidden;
  display: flex;
}
