:root {
    --light_background: #f6f6f6;
    --button: #9b59b6;
    --button_hover: #8e44ad;
    --link: #1e90ff;
    --link-light: #367294;
    --modal-success: #bef2be;
    --modal-fail: #e7b8b8;
    --border: #dadada;
}

h1 {
    font-size: 25px;
    font-weight: 300;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.heading {
    text-align: center;
    padding-top: 20px;
}

.heading * {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.heading img {
    width: 90px;
}

.heading p {
    display: block;
    max-width: 500px;
}

nav {
    border-bottom: solid 1px var(--border);
}

nav img {
    width: 40px;
}

.form-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 20px auto;
    max-width: 400px;
}

.form-search * {
    width: 100%;
    height: 35px;
    font-size: 14px;
}

.form-search button {
    border-radius: 20px;
}

.form-search button:focus {
    outline: none;
    outline: none !important;
    box-shadow: none;
}

.form-search img {
    max-width: 35px;
    margin: 0 20px;
    cursor: pointer;
}

.form-search input {
    border: none;
    flex-grow: 1;
    width: 160px;
    border-bottom: solid 1px rgb(212, 212, 212);
    margin-bottom: 10px;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

.main-container {
    max-width: 800px;
    display: flex;
    margin: 0 auto 50px auto;
    flex-direction: row;
    flex-wrap: wrap;
}

#osm_map {
    border-radius: 5px;
    flex-grow: 1;
    width: 450px;
    border: solid 1px var(--border);
    min-height: 400px;
}

.container-cards {
    flex-grow: 1;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.container-cards> :last-child {
    margin-bottom: 0px;
}

.card {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.card-header {
    font-size: 18px;
}