table {
  width: 100%;
}

th,
td {
  font-size: 0.8rem;
  padding: 0 !important;
}

.county-type {
  color: #676767;
  margin-left: 5px;
  font-size: 0.7rem;
  font-style: italic;
}

.info-icon {
  font-size: 15px;
}
