<div class="accordion-wrapper">
  <mat-accordion multi>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <a class="first-panel-title-wrapper__github-ref ml-1 mat-small" (click)="$event.stopPropagation()" target="_blank" href="https://github.com">GitHub</a>
        </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>
      <p>1 - 3 deutsche Stadtnamen eingeben.</p>
      <app-city-form></app-city-form>
    </mat-expansion-panel>
    <app-route-overview></app-route-overview>
  </mat-accordion>
</div>
<div class="map-wrapper">
  <app-map></app-map>
</div>
