<div class="accordion-wrapper">
  <mat-accordion multi>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Kriminalität deutscher Landkreise
          <a class="first-panel-title-wrapper__github-ref ml-1 mat-small" (click)="$event.stopPropagation()" target="_blank" href="https://github.com/kexplx/crimeview">GitHub</a>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-city-form></app-city-form>
    </mat-expansion-panel>
    <app-search-details></app-search-details>
  </mat-accordion>
</div>
<div class="map-wrapper">
  <app-map></app-map>
</div>
