<div class="accordion-wrapper">
  <mat-accordion multi>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Crimeview
          <span class="ml-1 mat-small">Stadt- Landkreiskriminalität</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-city-form></app-city-form>
    </mat-expansion-panel>
    <app-search-details></app-search-details>
  </mat-accordion>
</div>
<div class="map-wrapper">
  <app-map></app-map>
</div>

<div class="github">
  <a mat-icon-button href="https://github.com/kexplx/crimeview" target="_blank">
    <mat-icon svgIcon="github"></mat-icon>
  </a>
</div>
