@import 'src/styles/utils';

mat-panel-title {
  display: block;
}

.map-wrapper {
  height: 100%;
  width: 100%;
}

.accordion-wrapper {
  position: fixed;
  z-index: 5;
  max-width: 30rem;
  right: 1rem;
  left: 1rem;
  top: 1rem;
}
