<mat-form-field floatLabel="never">
  <input matInput [matAutocomplete]="auto" (input)="onInput($any($event.target.value))" placeholder="Regensburg" #inputCity />
  <mat-autocomplete
    [displayWith]="displayFn"
    autoActiveFirstOption
    (optionSelected)="onPredictionSelected($event.option.value); inputCity.value = ''"
    #auto="matAutocomplete"
  >
    <mat-option *ngFor="let prediction of predictions$ | async" [value]="prediction">
      <span class="mat-body">{{ prediction.name }}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
