<mat-expansion-panel *ngIf="route$ | async; let route" expanded>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ route.cities | cityNames: route.type }}
    </mat-panel-title>
    <mat-panel-description>
      {{ route.counties.length | i18nPlural: { '=1': 'Ein Landkreis', other: '# Landkreise' } }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="table-wrapper">
    <app-county-table [counties]="route.counties"></app-county-table>
  </div>
</mat-expansion-panel>
