@import 'src/styles/utils';
.buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.checkboxes-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

ol {
  padding-left: 1rem;
}
