<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home / CrimeView</title>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap ">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <img src="assets/images/police.svg" alt="">
        <div class="navbar-nav ">
            <a class="nav-link active" href="">Home</a>
            <a class="nav-link " href="">API / Documentation</a>
        </div>
        <div class="navbar-nav ml-auto ">
            <a class="nav-link " href="">Github</a>
        </div>
    </nav>
    <div class="heading">
        <img src="assets/images/police.svg" alt="">
        <h1>CrimeView</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>

    <form class="form-search " method="GET ">
        <input id="inputLocation" required type="text " placeholder="Departure e.g Regensburg">
        <input id="inputLocation" required type="text " placeholder="Destination e.g Erlangen">
        <button type="button" onclick="initMap()">View Crime</button>
    </form>

</body>

</html>