<app-city-input (citySelected)="onCitySelect($event)"></app-city-input>
<div class="checkboxes-wrapper mt-1">
  <mat-checkbox [checked]="isChecked(city)" (change)="onCheck(city, $event.checked)" *ngFor="let city of cities" color="primary">
    <span class="mat-body-strong">{{ city.name }}</span>
  </mat-checkbox>
</div>
<div class="buttons-wrapper mt-2">
  <button (click)="onDelete()" mat-button>Städte löschen</button>
  <button [disabled]="!checkedCities.length" (click)="onStart()" color="primary" mat-raised-button>Suche starten</button>
</div>
